<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ASA - Web App Security Alerter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
           <h1>ASA</h1>
           <hr>
           <h2>Web App Security Alerter</h2>
       </div>
       <div class="row">
           <div class="col-12 col-m-12 topnav">
                <a class="col-3 col-m-12" href="#home">Home</a>
                <a class="col-3 col-m-12" href="#vulnerabilities">Vulnerabilities <span class="notif">&#x21;</span></a>
                <a class="col-3 col-m-12" href="#account">Account</a>
                <a class="col-3 col-m-12" href="#logout">Logout</a>
            </div>
       </div>
    </body>
</html>    